{
	"presets": [
		[
			"@babel/preset-env", {
			"useBuiltIns": "usage",			
            "debug":true,
            "corejs": 3
			//"modules": false // new
		}],
		[
			"@babel/preset-react", {}
		],
		[
			"@babel/preset-typescript"
		]

	]
}